@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: "Inter", system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    }
    @supports (font-variation-settings: normal) {
        :root {
            font-family: "Inter var", system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        }
    }
}

.bg-dots{
    background-image: radial-gradient(#e4e4e7 1px,transparent 0);
    background-position: 50%;
    background-size: 20px 20px;
}